_target_: src.models.nansy.nansy_module.NansyModule

# ==================== Pitch related ======================
pitch_encoder:
  _target_: src.models.nansy.components.pitch_encoder.PitchEncoder
  freq: 160
  prekernels: 7
  kernels: 3
  channels: 128
  blocks: 2
  gru: 256 # unknown
  hiddens: 256
  f0_bins: 64

cqt_wrapper:
  _target_: src.models.nansy.components.cqt.CQTWrapper
  strides: 256
  fmin: 32.7
  bins: 191
  bins_per_octave: 24
  sr: 16000

# ==================== Linguistic related ========================
linguistic_encoder:
  _target_: src.models.nansy.components.linguistic_encoder.LinguisticEncoder
  in_channels: 1024
  hiddens: 128
  preconv: 2
  kernels: [3, 3, 3, 3, 3, 3, 3, 3, 1, 1]
  leak: 0.01
  dropout: 0.1

# ==================== Timbre related ===========================
timbre_encoder:
  _target_: src.models.nansy.components.timbre_encoder.TimbreEncoder
  in_channels: 80 # TODO: ${feature.n_mel_channels}
  out_channels: 192
  channels: 512
  prekernels: 5
  scale: 8
  kernels: 3
  dilations: [2, 3, 4]
  bottleneck: 128
  hiddens: 1536
  latent: 512
  timbre: 128
  tokens: 50
  heads: 8
  contents: 323
  slerp: 0.5

# ==================== Sample-level Synthesizer ====================
synthesizer:
  _target_: src.models.nansy.components.synthesizer.Synthesizer
  scale: 441
  sr: 44100
  channels: 64
  aux: 128
  kernels: 3
  dilation_rate: 2
  layers: 10
  cycles: 3